@model WebLibera.Models.HomeModel


@{
    Layout = null;
    int boxes = 0;
    
    int AQs = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Libera Chaco</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="~/Content/img/favicon.png" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body>
    <!--==========================
    Header
    ============================-->
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!--<h1 class="text-light"><a href="#intro" class="scrollto"><span>Libera</span></a></h1>-->
                <a href="#intro" class="scrollto"><img src="~/Content/img/logo2.png" class="img-responsive" alt=""  ></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Inicio</a></li>
                    <li><a href="#about">Acerca de Nosotros</a></li>
                    <li><a href="#services">Campañas</a></li>
                    <li><a href="#call-to-action">Donar</a></li>
                    <li><a href="#faq">Preguntas Frecuentes</a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h2>Asociación Animalista<br>Delegación <span>Chaco</span></h2>
                    <div>
                        <a href="#about" class="btn-get-started scrollto">Comencemos</a>
                    </div>
                </div>

                <!--<div class="col-md-6 intro-img order-md-last order-first">
                    <img src="img/intro-img.svg" alt="" class="img-fluid">
                    </div>-->
            </div>

            </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="~/Content/img/libera-home.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <h2>Acerca de Nosotros</h2>
                            <h3>En calidad de Organización de la Sociedad Civil nos dedicamos a la defensa de los derechos de los animales.</h3>
                            <p>Asociación Animalista LIBERA! Argentina esgrime sus bases en la Educación como motor principal de cambio y así poder erradicar el Especismo del que son víctimas los demás animales. LIBERA! promueve el respeto hacia los demás animales por el sólo hecho de tener capacidad de sentir, como tú y como yo.</p>

                            <p>Nuestras acciones apuntan a que todos los animales sean considerados como individuos que merecen ser respetados y en consecuencia no usados. Nuestros esfuerzos apuntan a liberar a los demás animales con la acción cotidiana, con la educación y la promoción de valores</p>
                            <p>Llevamos a cabo campañas de todo tipo para informar y concienciar  acerca de la explotación a la que son sometidos los animales no-humanos, buscando una transformación política y social que permita mejorar la vida de los animales.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- #about -->
        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">

            <div class="container">

                <header class="section-header">
                    <h3>Campañas y Eventos</h3>
                    <p>Llevamos a cabo campañas de todo tipo, buscando sensibilizar acerca de la explotación a la que son sometidos los animales no-humanos pero, sobre todo, impulsando los cambios legislativos necesarios que permitan mejorar la vida de los animales.</p>
                </header>
                <div class="row">

                    <!--  Solo 6 eventos/campañas para que tenga sentido ir a una pagina solo con campañas    -->
                    @foreach (var entry in Model.first6Camp)
                    {
                        boxes++;
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="box">
                                <a href="@Url.Action("Details","Entries",new { entry.Id})" class="boxlink"></a>
                                <div class="container">
                                    <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                    <h4 class="title">
                                        <a href="@Url.Action("Details","Entries",new { entry.Id})">@entry.Tittle</a>
                                    </h4>
                                    @{
                                        string mmm = "";
                                        if (entry.Content.Length > 200)
                                        {
                                            mmm = entry.Content.Substring(0, 198).Insert(198, "...");
                                        }
                                        else
                                        {
                                            mmm = entry.Content;
                                        }
                                    }
                                    <p class="description">@mmm</p>
                                    @if (entry.imgData != null)
                                    {

                                        var base64 = Convert.ToBase64String(entry.imgData);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <a href="@Url.Action("Details","Entries",new { entry.Id})">
                                            <img src="@imgSrc" class="entryImage" />
                                        </a>
                                    }


                                </div>
                            </div>
                        </div>
                    }



            </div>
                    @if (boxes == 0)
                    {
                        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="box">
                                <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                                <h4 class="title"><a href="">Parece que no hay ningun evento Todavia :(</a></h4>
                                <p class="description">
                                    Comunicate con un administrador
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {<div class="container">
                         <div class="row">
                             <div class="col-lg-4 cta-btn-container text-center" >
                             </div>
                             <div class="col-lg-4 cta-btn-container text-center" style="border: solid #1bb1dc">
                                 <a class="cta-btn align-middle" href="@Url.Action("Index","Entries")">Mira todos los eventos</a>
                             </div>
                             <div class="col-lg-4 cta-btn-container text-center" >
                             </div>
                         </div>
                    </div>
                    }
        </section><!-- #services -->
        <!--==========================
          Call To Action Section
        ============================-->
        <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Como Ayudar</h3>
                        <p class="cta-text">Tu colaboración nos permite realizar y continuar nuestro trabajo en defensa de los animales. Gracias al apoyo económico de personas como tú es posible llevar adelante todos nuestros proyectos y ayudar al mayor número de animales posibles.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="@Url.Action("Donar","Home")">Donar</a>
                    </div>
                </div>

            </div>
        </section><!-- #call-to-action -->
        
        <!--==========================
          Frequently Asked Questions Section
        ============================-->
        <section id="faq">
            <div class="container">
                <header class="section-header">
                    <h3>Preguntas Frecuentes</h3>
                    <p>En esta sección podes encontrar las preguntas mas frecuentes y sus respuestas</p>
                </header>

                <ul id="faq-list" class="wow fadeInUp">
                    @foreach(var AQ in Model.FAQ)
                    {
                        AQs++;
                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#faq@(AQ.Id)">@AQ.Question<i class="ion-android-remove"></i></a>
                            <div id="faq@(AQ.Id)" class="collapse" data-parent="#faq-list">
                                <p>
                                    @AQ.Answer
                                </p>
                            </div>
                        </li>
                    }

                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Como puedo ayudar?<i class="ion-android-remove"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">Cuales son los pasos para realizar una denuncia?<i class="ion-android-remove"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">Con quien me contacto? <i class="ion-android-remove"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq5" class="collapsed">Puedo aportar economicamente? <i class="ion-android-remove"></i></a>
                        <div id="faq5" class="collapse" data-parent="#faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq6" class="collapsed">Que eventos realizan? <i class="ion-android-remove"></i></a>
                        <div id="faq6" class="collapse" data-parent="#faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>
        </section><!-- #faq -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="footer-links">
                            <h4>Contactanos</h4>
                            <p>
                                Resistencia, ChacoArgentina<br>
                                <strong>Telefono:</strong> 0362 481-3764<br>
                                <strong>Email:</strong> chaco@liberaong.org
                                <br>
                            </p>
                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="social-links float-right">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Chaco <strong>Resistencia</strong>. Todos los Derechos Reservados.
            </div>
            <div class="credits">
                Diseñado por <a href="https://bootstrapmade.com/">Informatorio Chaco</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->


    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/Content/lib/wow/wow.min.js"></script>
    <script src="~/Content/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/lib/counterup/counterup.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Content/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Content/js/main.js"></script>
    <script>
        
       (function($) {
           $(document).ready(function () {
               if ( '@ViewBag.Position' != '') {
                 $('html, body').animate({
                   'scrollTop':   $('#@(ViewBag.Position)').offset().top
                 }, 2000);
               }
            });
        })(jQuery);

    </script>
</body>
</html>
